In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline
df=pd.read_csv('london_merged.csv')
df.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [3]:
df.shape

(17414, 10)

In [4]:
df.weather_code.value_counts()

1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: weather_code, dtype: int64

In [5]:
df.season.value_counts()

0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: season, dtype: int64

In [6]:
df.columns

Index(['timestamp', 'cnt', 't1', 't2', 'hum', 'wind_speed', 'weather_code',
       'is_holiday', 'is_weekend', 'season'],
      dtype='object')

In [7]:
## renaming the columns to a readable format
new_cols={
    'timestamp':'time',
    'cnt':'count',
    't1':'temp_real_C',
    't2':'temp_feel_like_C',
    'hum':'humidity_perc',
    'wind_speed':'wind_speed_kmph',
    'weather_code':'weather',
    'is_holiday':'is_holiday',
    'is_weekend':'is_weekend',
    'season':'season'
}

## let's rename the columns
df.rename(new_cols,axis=1,inplace=True)
df.head()

,time,count,temp_real_C,temp_feel_like_C,humidity_perc,wind_speed_kmph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [8]:
## lets convert the humidity perc value between 0 and 1
df.humidity_perc=df.humidity_perc/100

In [9]:
## let's map the season code value to the corresponding season
season_dict = {
    0.0:'spring',
    1.0:'summer',
    2.0:'autumn',
    3.0:'winter'
}

## mapping the weather codes to the weather condition
weather_dict = {
    1.0:'Clear',
    2.0:'Scattered clouds',
    3.0:'Broken clouds',
    4.0:'Cloudy',
    7.0:'Rain',
    10.0:'Rain with thunderstorm',
    26.0:'Snowfall'
}
df.weather=df.weather.map(weather_dict)
df.season=df.season.map(season_dict)
df.head()

,time,count,temp_real_C,temp_feel_like_C,humidity_perc,wind_speed_kmph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,winter

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   time              17414 non-null  object
 1   count             17414 non-null  int64
 2   temp_real_C       17414 non-null  float64
 3   temp_feel_like_C  17414 non-null  float64
 4   humidity_perc     17414 non-null  float64
 5   wind_speed_kmph   17414 non-null  float64
 6   weather           17414 non-null  object
 7   is_holiday        17414 non-null  float64
 8   is_weekend        17414 non-null  float64
 9   season            17414 non-null  object
dtypes: float64(6), int64(1), object(3)
memory usage: 1.3+ MB

Now we have the data in the format needed lets export it as excel file and create our dashboard over tableau

In [12]:
df.to_excel('london_bikes_final.xlsx',sheet_name='Bikes_Data')